@import "tailwindcss";

@theme {
  --color-kiire-blue: #152659;
  --color-kiire-green1: #ABD904;
  --color-kiire-green2: #B8D943;
  --color-kiire-orange: #F2780C;
  --color-kiire-gray: #F2F2F2;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
